<div class="col-md-3 navbar-full">
	<div class="affix-sidebar">
		<h4><span class="label label-primary">General</span></h4>
		<ul class="sidenav">
			{% if page.menu == "learn" %}
			<li>
				<a href="/learn">What is OpenStack4j</a>
			</li>
			<li>
				<a href="/learn/getting-started">Getting Started</a>
			</li>
			{% if page.nav == "getting-started" %}
			<ul>
				<li>
					<a href="/learn/model-objects">Working with Model Objects</a>
				</li>
				<li>
					<a href="/learn/getting-started/#authenticate">Authenticate with a Deployment</a>
				</li>
				<li>
					<a href="/learn/threads/">Singleton Client Between Threads</a>
				</li>
			</ul>
			{% endif %}
		</ul>
		<h4><span class="label label-danger">OpenStack Services</span></h4>
		<ul class="sidenav">
			<li>
				<a href="/learn/identity/identity-v2">Identity (Keystone) V2</a>
				{% if page.nav == "identity-v2" %}
				<ul>
					<li>
						<a href="/learn/identity/identity-v2/#regions">Regions</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v2/#tenants">Tenants</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v2/#user-and-role-management">User &amp; Role Management</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v2/#services-and-endpoints">Services &amp; Endpoints</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v2/#extensions">Extensions</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v2/#token-endpoints">Token Endpoints</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/identity/identity-v3">Identity (Keystone) V3</a>
				{% if page.nav == "identity-v3" %}
				<ul>
					<li>
						<a href="/learn/identity/identity-v3/#regions">Regions</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#domains">Domains</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#projects">Projects</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#users">Users</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#groups">Groups</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#role-management">Role management</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#policies">Policies</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#services-and-endpoints">Services & Endpoints</a>
					</li>
					<li>
						<a href="/learn/identity/identity-v3/#credentials">Credentials</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/compute">Compute (Nova)</a>
				{% if page.nav contains "compute" %}
				<ul>
					<li>
						<a href="/learn/compute/#flavors">Flavors</a>
					</li>
					<li>
						<a href="/learn/compute/#images-via-nova">Images</a>
					</li>
					<li>
						<a href="/learn/compute/servers/">Servers</a>
						{% if page.nav contains "servers" %}
						<ul>
							<li>
								<a href="/learn/compute/servers/#boot-a-server-vm-create">Create (Boot)</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#server-actions">Actions</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#create-a-new-server-snapshot">Snapshots</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#floating-ip-addresses">Floating IP Addresses</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#metadata">Metadata</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#vnc-and-console-output">VNC & Console Output</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#diagnostics">Diagnostics</a>
							</li>
							<li>
								<a href="/learn/compute/servers/#querying-for-servers">Queries and Updates</a>
							</li>
						</ul>
						{% endif %}
					</li>
					<li>
						<a href="/learn/compute/keypairs">Keypairs</a>
					</li>
					<li>
						<a href="/learn/compute/sgrules">Security Groups and Rules</a>
					</li>
					<li>
						<a href="/learn/compute/#quota-sets-and-limits">Quota-Sets and Limits</a>
					</li>
					<li>
						<a href="/learn/compute/#simple-tenant-usage-os-simple-tenant-usage">Simple Tenant Usage</a>
					</li>
					<li>
						<a href="/learn/compute/floatingipdns">Floating IP DNS</a>
					</li>
					<li>
						<a href="/learn/compute/#extensions">Extensions</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/network">Network (Neutron)</a>
				{% if page.nav contains "network" %}
				<ul>
					<li>
						<a href="/learn/network/#subnets">Subnets</a>
					</li>
					<li>
						<a href="/learn/network/#ports">Ports</a>
					</li>
					<li>
						<a href="/learn/network/#routers">Routers</a>
					</li>
					<li>
						<a href="/learn/network/networks-fwaas">FWaaS</a>
					</li>
					{% if page.nav contains "fwaas" %}
					<ul>
						<li>
							<a href="/learn/network/networks-fwaas/#firewalls">Firewalls</a>
						</li>
						<li>
							<a href="/learn/network/networks-fwaas/#firewall-policies">Polcies</a>
						</li>
						<li>
							<a href="/learn/network/networks-fwaas/#firewall-rules">Rules</a>
						</li>
					</ul>
					{% endif %}
					<li>
						<a href="/learn/network/networks-lbaas-v1">LBaaS</a>
					</li>

					{% if page.nav contains "lbaas-v1" %}
					<ul>
						<li>
							<a href="/learn/network/networks-lbaas-v1/#pools">Pools</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v1/#members">Members</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v1/#vip">VIP</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v1/#health-monitors">Monitors</a>
						</li>
					</ul>
					{% endif %}

					<li>
						<a href="/learn/network/networks-lbaas-v2">LBaaS V2</a>
					</li>

					{% if page.nav contains "lbaas-v2" %}
					<ul>
						<li>
							<a href="/learn/network/networks-lbaas-v2/#load-balancers">Load Balancer</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v2/#listeners">Listener</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v2/#pools">Pools</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v2/#members">Members</a>
						</li>
						<li>
							<a href="/learn/network/networks-lbaas-v2/#health-monitors">Monitors</a>
						</li>
					</ul>
					{% endif %}

				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/image">Images (Glance)</a>
				{% if page.nav == "image" %}
				<ul>
					<li>
						<a href="/learn/image/#creating-reserving-and-uploading-images">Create, Reserve & Upload</a>
					</li>
					<li>
						<a href="/learn/image/#updating-deleting-and-querying">Update, Delete & Queries</a>
					</li>
					<li>
						<a href="/learn/image/#image-memberships">Memberships</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/blockstorage">Block Storage (Cinder)</a>
				{% if page.nav == "blockstorage" %}
				<ul>
					<li>
						<a href="/learn/blockstorage/#volume-types">Volume Types</a>
					</li>
					<li>
						<a href="/learn/blockstorage/#volumes">Volumes</a>
					</li>
					<li>
						<a href="/learn/blockstorage/#snapshots">Snapshots</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/objectstorage">Object Storage (Swift)</a>
				{% if page.nav == "objectstorage" %}
				<ul>
					<li>
						<a href="/learn/objectstorage/#account">Account Info</a>
					</li>
					<li>
						<a href="/learn/objectstorage/#containers">Containers</a>
					</li>
					<li>
						<a href="/learn/objectstorage/#objects">Objects</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/telemetry">Telemetry (Ceilometer)</a>
				{% if page.nav == "telemetry" %}
				<ul>
					<li>
						<a href="/learn/telemetry/#meters">Meters</a>
					</li>
					<li>
						<a href="/learn/telemetry/#samples">Samples</a>
					</li>
					<li>
						<a href="/learn/telemetry/#statistics">Statistics</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/orchestration">Orchestration (Heat)</a>
				{% if page.nav == "orchestration" %}
				<ul>
					<li>
						<a href="/learn/orchestration/#stacks">Stacks</a>
					</li>
					<li>
						<a href="/learn/orchestration/#templates">Templates</a>
					</li>
					<li>
						<a href="/learn/orchestration/#resources">Resources</a>
					</li>
					<li>
						<a href="/learn/orchestration/#events">Events</a>
					</li>
				</ul>
				{% endif %}
			</li>
			<li>
				<a href="/learn/data-processing">Data Processing (Sahara)</a>
				{% if page.nav == "dataprocessing" %}
				<ul>
					<li>
						<a href="/learn/data-processing/#clusters">Clusters</a>
					<li>
						<a href="/learn/data-processing/#cluster-templates">Cluster Templates</a>
					<li>
						<a href="/learn/data-processing/#plugins">Plugins</a>
					<li>
						<a href="/learn/data-processing/#image-registry">Image Registry</a>
					<li>
						<a href="/learn/data-processing/#node-group-templates">Node Group Templates</a>
				</ul>
				{% endif %}
			</li>
			{% endif %}
		</ul>
	</div>
</div>
